@import "@syncfusion/ej2-base/styles/material.css";
@import "@syncfusion/ej2-react-buttons/styles/material.css";
@import "@syncfusion/ej2-react-notifications/styles/material.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #333;
  --color-light: #fff;
  --color-gray-light: #f0f0f0;
  --color-gray-lighter: #b0b0b0;
  --color-gray: #ddd;
  --color-gray-dark: #666;
  --color-background-light: #f8f8f8;
  --color-background-gray: #f4f4f4;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-dark: rgba(0, 0, 0, 0.3);
  --color-primary: #555;
}
* {
  @apply box-border p-0;
}
